body {
    margin: 0;
    padding: 0;
    background-color: black;
    cursor: grab;
}

#logo {
    height: 80px;
    margin: 20px 30px;
    position: absolute;
}

#name {
    font-size: 100px;
    color: rgb(241, 99, 123);
    position: absolute;
    top: 149px;
    right: 210px;
    z-index: 1;
}

.firstpage {
    height: 723px;
    width: 100%;
    background-color: #a7d1dd;
    position: relative;
}

#bird {
    position: absolute;
    height: 80px;
    top: 10px;
    right: 520px;
}

#inside-sec {
    border: 1px solid rgb(76, 196, 170);
    box-shadow: 4px 5px 15px black;
    height: 500px;
    background-color: #a7d1dd;
    width: 700px;
    position: absolute;
    border-radius: 12px;
    top: 50px;
    right: 30px;
    z-index: 1;
}

.letters:hover {
    font-size: 100px;
    color: #3365af;
    text-shadow: 2px 2px 4px rgb(8, 8, 8);
    padding-left: 5px;
}

nav {
    position: absolute;
    top: 20px;
    left: 100px;
    font-size: 20px;

}

.link1 {
    font-size: 18px;
    text-decoration: none;
    color: #000000;
    font-weight: bolder;
    margin-left: 10px;
}

.link2 {
    font-size: 18px;
    text-decoration: none;
    color: #000000;
    font-weight: bolder;
    margin-left: 50px;
}

.link3 {
    font-size: 18px;
    text-decoration: none;
    color: #000000;
    font-weight: bolder;
    margin-left: 50px;
}

.link4 {
    font-size: 18px;
    text-decoration: none;
    color: #000000;
    font-weight: bolder;
    margin-left: 50px;
}

.link1:hover,
.link2:hover,
.link3:hover,
.link4:hover {
    background: linear-gradient(to bottom, rgb(241, 108, 208), rgb(204, 178, 197));
}

.slogan {
    font-size: 24px;
    color: #205a7a;
    position: absolute;
    top: 320px;
    right: 320px;
    z-index: 1;
}

.accountlinks {
    font-size: 15px;
    color: #205a7a;
    margin-top: 170px;
    margin-left: 150px;
}

#me {
    height: 100px;
    border-radius: 50%;
    margin-top: 70px;
    margin-left: 250px;
}

#me:hover {
    filter: drop-shadow(2px 2px 5px rgb(0, 0, 0));
}

.linkedin {
    display: inline-block;
    height: 50px;
    position: absolute;
    top: 346px;
    right: 427px;
}

.pinterest {
    height: 22px;
    position: absolute;
    top: 359px;
    right: 400px;
}

#png {
    height: 300px;
    position: absolute;
    top: 210px;
    margin-right: 0%;
    left: 400px;
    filter: drop-shadow(2px 2px 5px black);
}

#empty {
    height: 500px;
    width: 700px;
    position: absolute;
    background-color: #e27d60;
}

#insta-logo {
    display: inline-block;
    height: 40px;
    position: absolute;
    top: 350px;
    right: 400px;
}

#tele {
    display: inline-block;
    height: 37px;
    position: absolute;
    top: 354px;
    right: 349px;
}

.cloudset {
    height: 400px;
    position: absolute;
    top: 290px;
    left: 0;
    filter: drop-shadow(10px 15px 8px rgb(236, 230, 230));
}

#secondpage {
    background-color: pink;
    height: 520px;
    width: 100%;
    margin: 0;
    margin-top: 4px;
    padding-top: 200px;
    position: relative;
}

#secondpage h1 {
    font-size: 100px;
    position: absolute;
    top: 200px;
    left: 100px;
    color: black;
}

.side-box-1 {
    position: absolute;
    top: 20px;
    right: 40px;
}

.side-box-1 h2 {
    border: 2px solid rgb(6, 6, 7);
    padding: 4px;
    border-radius: 9px;
    position: absolute;
    margin-top: 10px;
}

.side-box-1 h3 {
    display: inline-block;
    /* margin-top: 60px; */
}

progress {
    width: 500px;
}

#skillanimated {
    position: absolute;
    top: 250px;
    filter: drop-shadow(2px 2px 8px black);
}

#html {
    margin-top: 210px;
}

.side-box-1 p {
    position: absolute;
    top: 50px;
    font-weight: lighter;
    line-height: 30px;
    text-indent: 10px;
}

#thirdpage {
    height: 100vh;
    width: 100%;
    background-color: #a7d1dd;
    margin-top: 5px;
    position: relative;
}

#thirdpage h1 {
    margin-top: 4px;
    position: absolute;
    font-size: 90px;
    writing-mode: vertical-lr;
    text-orientation: upright;
    top: 60px;
    left: 80px;
    color: black;
}

#thirdpage p {
    position: absolute;
    top: 50px;
    right: 30px;
    left: 400px;
    font-weight: lighter;
    line-height: 30px;
    text-indent: 40px;
    font-size: 18px;
}

.para2 {
    line-height: 30px;
    margin-top: 290px;
}

mark {
    background-color: pink;
}

#thirdpage b {
    color: #d32929;
}

.mystorypic {
    position: absolute;
    top: 390px;
    height: 360px;
    left: 0px;
    filter: drop-shadow(3px 2px 8px black);
}

#fourthpage {
    background-color: pink;
    height: 100vh;
    width: 100%;
    position: relative;
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
}

#fourthpage h1 {
    font-size: 60px;
    position: absolute;
    top: 5px;
    margin-top: 10px;
    left: 35%;
    color: black;
}

.readingbooks {
    margin-top: 130px;
    border: 2px solid;
    width: 300px;
    border-radius: 10px;
    box-shadow: 2px 3px 4px black;
    background-color: #a7d1dd;
    height: 550px;
    margin-left: 50px;
}

.readingbooks h2 {
    text-align: center;
}

.readingbooks p {
    line-height: 27px;
    margin-top: 8px;
    margin: 0px 15px 3px 15px;
    text-indent: 10px;
}

.two {
    margin-top: 130px;
    border: 2px solid;
    width: 300px;
    border-radius: 10px;
    background-color: #a7d1dd;
    height: 550px;
    box-shadow: 2px 3px 4px black;
}

.two h2 {
    text-align: center;
}

.three {
    margin-top: 130px;
    border: 2px solid;
    width: 300px;
    border-radius: 10px;
    background-color: #a7d1dd;
    height: 550px;
    box-shadow: 2px 3px 4px black;
}

.three h2 {
    text-align: center;
}

.four {
    margin-top: 130px;
    border: 2px solid;
    width: 300px;
    border-radius: 10px;
    background: #a7d1dd;
    height: 550px;
    box-shadow: 2px 3px 4px black;
}

.four h2 {
    text-align: center;
}

.booksman {
    position: absolute;
    bottom: 2px;
    top: 395px;
    left: 30px;
    height: 330px;
    filter: drop-shadow(2px 2px 5px black);
}

.two p {
    text-indent: 10px;
    line-height: 30px;
    margin: 2px 15px 2px 15px;
}

.chessman {
    height: 300px;
    filter: drop-shadow(2px 2px 5px black);
}

.three p {
    text-indent: 10px;
    line-height: 30px;
    margin: 2px 10px 2px 15px;
}

.editingman {
    height: 320px;
    position: absolute;
    top: 400px;
    filter: drop-shadow(2px 2px 5px black);
}

.four p {
    line-height: 30px;
    margin: 2px 15px;
}

.gymman {
    height: 250px;
    margin-left: 40px;
    filter: drop-shadow(2px 2px 5px black);
}

#fifthpage {
    background-color: #a7d1dd;
    height: 90vh;
    width: 100%;
    margin-top: 4px;
    position: relative;
    padding-top: 100px;
}

#fifthpage h1 {
    position: absolute;
    top: 220px;
    margin-left: 60px;
    font-size: 80px;
}

.fifthpageside {
    height: 500px;
    width: 700px;
    background-color: rgb(255, 192, 203);
    margin-left: 600px;
    position: relative;
    border-radius: 10px;
    border: 2px black solid;
    box-shadow: 2px 4px 8px black;
}

#school {
    font-size: 30px;
    margin-top: 30px;
    margin-left: 50px;
    position: absolute;
}

#para1 {
    margin-top: 80px;
    margin-left: 120px;
    font-size: 18px;
}

#schoolimg {
    height: 100px;
    margin-top: 80px;
    margin-left: 500px;
    filter: drop-shadow(2px 3px 5px black);
}

#inter {
    font-size: 28px;
    margin-left: 50px;
    margin-top: 5px;
    position: absolute;
}

#para2 {
    margin-top: 80px;
    margin-left: 120px;
    font-size: 18px;
}

#Undergraduation {
    font-size: 28px;
    margin-top: 5px;
    margin-left: 50px;
}

#para3 {
    margin-left: 120px;
    font-size: 18px;
}

#graduationimg {
    height: 180px;
    filter: drop-shadow(1px 3px 6px black);
    margin-left: 450px;
}

#sixthpage {
    background-color: pink;
    height: 100vh;
    margin-top: 4px;
}

#sixthpage h1 {
    font-size: 60px;
    /* text-shadow: 2px 2px 6px black; */
    position: absolute;
    left: 80px;
}

#certificate1 {
    position: absolute;
    margin-top: 94px;
    margin-left: 500px;
}

#certificate1 a {
    text-decoration: none;
    color: blue;
    text-shadow: 1px 1px 2px black;
}

#codekaroimg {
    height: 110px;
    position: absolute;
    top: 60px;
    left: 240px;
}

#certificate2 {
    position: absolute;
    margin-top: 260px;
    margin-left: 500px;
}

#letsupgrade {
    height: 60px;
    position: absolute;
    top: 50px;
    left: 240px;
}

#certificate2 a {
    text-decoration: none;
    color: blue;
    text-shadow: 1px 1px 2px black;
}

#certificate3 {
    position: absolute;
    margin-top: 430px;
    margin-left: 500px;
}

#certificate3 a {
    text-decoration: none;
    color: blue;
    text-shadow: 1px 1px 2px black;
}

#udemy {
    position: absolute;
    height: 100px;
    top: 20px;
    left: 260px;
}

#seventhpage {
    background-color: #a7d1dd;
    height: 100vh;
    width: 100%;
    margin-top: 4px;
    position: relative;
}

#seventhpage h1 {
    position: absolute;
    font-size: 50px;
    margin-top: 10px;
    left: 500px;
}

#projectsec1 {
    display: flex;
    margin-left: 60px;
    gap: 20px;
    position: absolute;
    top: 100px;
}

#netflixclone {
    background-color: pink;
    height: 300px;
    width: 400px;
    border: 2px solid;
    border-radius: 10px;
}

#netflixclone h2 {
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
}

#netflixclone p {
    margin-left: 20px;
}

#linkfornetflix {
    margin-left: 120px;
    color: blue;
    font-size: 20px;
    text-decoration: none;
}

#webpage {
    height: 300px;
    background-color: pink;
    width: 400px;
    border-radius: 10px;
    border: 2px solid;
}

#webpage h2 {
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
}

#tastyheaven {
    height: 300px;
    width: 400px;
    background-color: pink;
    border: 2px solid;
    border-radius: 10px;
}

#video {
    height: 100px;
    border-radius: 9px;
    border: 2px solid;
    margin-left: 100px;
}

#video2 {
    height: 100px;
    border-radius: 9px;
    border: 2px solid;
    margin-left: 100px;
}

#webpage p {
    margin-left: 20px;
    margin-right: 20px;
    line-height: 24px;
}

#webpage a {
    text-decoration: none;
    margin-left: 100px;
    color: blue;
    font-size: 20px;
}

#video3 {
    height: 100px;
    border-radius: 9px;
    border: 2px solid;
    margin-left: 100px;
}

#tastyheaven h2 {
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
}

#tastyheaven p {
    margin-left: 20px;
    margin-right: 20px;
    line-height: 24px;
}

#tastyheaven a {
    text-decoration: none;
    color: blue;
    font-size: 20px;
    margin-left: 120px;
}

#projectsecimg {
    height: 200px;
    margin-top: 450px;
    margin-left: 1100px;
    filter: drop-shadow(2px 2px 4px black);
}

@media (min-width:320px) and (max-width:768px) {
    body {
        margin: 0;
        padding: 0;
        background-color: black;
        cursor: grab;
    }

    #logo {
        height: 50px;
        margin-top: 10px;
        margin-left: 7px;
    }

    #inside-sec {
        height: 250px;
        width: 400px;
        position: absolute;
        left: 50px;
    }

    nav {
        margin-left: 0;
        font-size: 14px;
        position: absolute;
        top: 10px;
        left: 8px;
        display: flex;
        gap: 2px;
    }

    .link1 {
        font-size: 18px;
        text-decoration: none;
        color: #000000;
        font-weight: bolder;
        margin-left: 20px;
    }

    .link2 {
        font-size: 18px;
        text-decoration: none;
        color: #000000;
        font-weight: bolder;
        margin-left: 15px;
    }

    .link3 {
        font-size: 18px;
        text-decoration: none;
        color: #000000;
        font-weight: bolder;
        margin-left: 15px;
    }

    .link4 {
        font-size: 18px;
        text-decoration: none;
        color: #000000;
        font-weight: bolder;
        margin-left: 15px;
    }

    #me {
        height: 6em;
        margin-left: 10em;
        display: inline-block;
    }

    #name {
        font-size: 70px;
        position: absolute;
        display: flex;
        top: 4em;
        left: 80px;
        align-items: center;
    }

    .letters {
        margin-left: 20px;
    }

    .letters:hover {
        padding: 10px;
        font-size: 60px;
    }

    .firstpage {
        background-color: #a7d1dd;
        height: 830px;
        width: 535px;
    }

    #secondpage {
        background-color: pink;
        height: 680px;
        width: 535px;
        padding-top: 200px;
        position: relative;
        margin-top: 4px;
    }

    #thirdpage {
        background-color: #a7d1dd;
        height: 810px;
        width: 535px;
    }

    #fourthpage {
        background-color: pink;
        height: 2660px;
        width: 535px;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    #fourthpage h1 {
        font-size: 40px;
        position: absolute;
        top: 5px;
        margin-top: 10px;
        color: black;
    }

    .slogan {
        font-size: 28px;
        position: absolute;
        top: 90px;
        left: 75px;
        display: flex;
    }

    #png {
        height: 180px;
        position: absolute;
        top: 73px;
        left: 230px;
    }

    .cloudset {
        height: 300px;
        width: 420px;
        margin-right: 7px;
        margin-left: 60px;
        margin-top: 250px;
    }

    .accountlinks {
        font-size: 25px;
        margin-left: 40px;
        margin-top: 12em;
    }

    .linkedin {
        position: absolute;
        top: 29em;
        height: 50px;
        left: 10em;
    }

    #insta-logo {
        position: absolute;
        top: 29em;
        height: 47px;
        left: 13em;
    }

    #tele {
        position: absolute;
        top: 29em;
        height: 45px;
        left: 15em;
    }

    #secondpage h1 {
        font-size: 80px;
        top: 10px;
        padding: 0%;
        margin: 0;
    }

    #thirdpage h1 {
        position: absolute;
        font-size: 40px;
        writing-mode: vertical-lr;
        text-orientation: upright;
        text-wrap: pretty;
        top: 60px;
        text-shadow: 2px 2px 4px black;
        left: 2px;
        color: black;
    }

    #thirdpage p {
        position: absolute;
        top: 50px;
        left: 100px;
        font-weight: lighter;
        line-height: 30px;
        text-indent: 40px;
        font-size: 18px;
    }

    #skillanimated {
        height: 450px;
        margin-top: 13em;
        margin-right: 50px
    }

    .side-box-1 h2 {
        border: 2px solid rgb(6, 6, 7);
        border-radius: 9px;
        position: absolute;
        top: 70px;
        left: 50px;
    }

    .side-box-1 p {
        line-height: 30px;
        text-indent: 40px;
        margin-left: 10px;
        margin-top: 120px;
        font-size: 20px;
        padding-right: 10px;
    }

    .para2 {
        display: none;
    }

    progress {
        margin-left: 20px;
        width: 200px;
    }

    .skills {
        height: 200px;
        margin-left: 130px;
    }

    #html {
        margin-top: 20em;
        margin-left: 7px;
    }

    .readingbooks {
        border: 2px solid;
        width: 400px;
        height: 550px;
        margin-left: 70px;
        border-radius: 10px;
        box-shadow: 2px 3px 10px black;
        background-color: #a7d1dd;
    }

    .readingbooks h2 {
        text-align: center;
    }

    .readingbooks p {
        line-height: 27px;
        margin-top: 8px;
        margin: 0px 15px 3px 15px;
        text-indent: 10px;
    }

    .booksman {
        height: 300px;
        margin-left: 90px;
        position: absolute;
        top: 22em;
    }

    .two {
        margin-top: 130px;
        border: 2px solid;
        width: 400px;
        border-radius: 10px;
        background-color: #a7d1dd;
        height: 550px;
        margin-left: 70px;
        box-shadow: 2px 3px 10px black;
        text-align: center;
    }

    .three {
        margin-top: 130px;
        border: 2px solid;
        width: 400px;
        border-radius: 10px;
        background-color: #a7d1dd;
        height: 550px;
        box-shadow: 2px 3px 10px black;
        text-align: center;
        margin-left: 70px;
        position: relative;
    }

    .four {
        margin-top: 130px;
        border: 2px solid;
        width: 400px;
        border-radius: 10px;
        background-color: #a7d1dd;
        height: 550px;
        box-shadow: 2px 3px 10px black;
        text-align: center;
        margin-left: 70px;
        position: relative;
    }

    .editingman {
        top: 13em;
        left: 4em;
        position: absolute;
    }

    #fifthpage {
        background-color: #a7d1dd;
        height: 750px;
        width: 535px;
        position: relative;
    }

    #fifthpage h1 {
        position: absolute;
        top: 7px;
        font-size: 50px;
    }

    .fifthpageside {
        height: 500px;
        width: 700px;
        background-color: rgb(255, 192, 203);
        margin-left: 600px;
        position: relative;
        border-radius: 10px;
        border: 2px black solid;
        box-shadow: 2px 4px 8px black;
    }

    .mystorypic {
        height: 200px;
        position: absolute;
        right: 22em;
        top: 630px;
        filter: drop-shadow(2px 2px 10px black);
    }

    .fifthpageside {
        background-color: rgb(255, 192, 203);
        position: absolute;
        border-radius: 10px;
        border: 2px black solid;
        box-shadow: 2px 4px 10px black;
        right: 4em;
        height: 600px;
        width: 400px;
        top: 9em;
    }

    #school {
        font-size: 30px;
        margin-top: 30px;
        margin-left: 10px;
        position: absolute;
    }

    #para1 {
        margin-top: 80px;
        margin-left: 10px;
        font-size: 22px;
    }

    #inter {
        font-size: 28px;
        margin-left: 10px;
        margin-top: 5px;
        position: absolute;
    }

    #para2 {
        margin-top: 80px;
        margin-left: 10px;
        font-size: 22px;
    }

    #Undergraduation {
        font-size: 28px;
        margin-top: 5px;
        margin-left: 10px;
    }

    #para3 {
        margin-left: 10px;
        font-size: 22px;
    }

    #graduationimg {
        height: 180px;
        filter: drop-shadow(1px 3px 6px black);
        margin-left: 50px;
    }

    #sixthpage {
        background-color: pink;
        height: 680px;
        width: 535px;
        padding-top: 200px;
        position: relative;
        margin-top: 4px;
    }

    #sixthpage h1 {
        font-size: 50px;
        position: absolute;
        left: 90px;
        top: 10px;
    }

    #certificate1 {
        position: absolute;
        margin-top: 6px;
        margin-left: 40px;
    }

    #certificate1 a {
        text-decoration: none;
        color: blue;
        text-shadow: 1px 1px 2px black;
    }

    #codekaroimg {
        height: 110px;
        position: absolute;
        top: 60px;
        left: 240px;
    }

    #certificate2 {
        position: absolute;
        margin-top: 180px;
        margin-left: 40px;
    }

    #letsupgrade {
        height: 60px;
        position: absolute;
        top: 50px;
        left: 240px;
    }

    #certificate2 a {
        text-decoration: none;
        color: blue;
        text-shadow: 1px 1px 2px black;
    }

    #certificate3 {
        position: absolute;
        margin-top: 350px;
        margin-left: 40px;
    }

    #certificate3 a {
        text-decoration: none;
        color: blue;
        text-shadow: 1px 1px 2px black;
    }

    #udemy {
        position: absolute;
        height: 100px;
        top: 20px;
        left: 260px;
    }

    #seventhpage {
        background-color: #a7d1dd;
        height: 1250px;
        width: 535px;
        position: relative;
    }

    #seventhpage h1 {
        height: 30px;
        position: absolute;
        left: 90px;
        top: 10px;
    }

    #projectsec1 {
        display: flex;
        margin-left: 60px;
        gap: 20px;
        position: absolute;
        top: 100px;
    }

    #netflixclone {
        background-color: pink;
        height: 300px;
        width: 400px;
        margin-left: 10px;
        border: 2px solid;
        border-radius: 10px;
    }

    #netflixclone h2 {
        text-align: center;
        font-weight: bolder;
        font-size: 30px;
    }

    #netflixclone p {
        margin-left: 20px;
    }

    #linkfornetflix {
        margin-left: 120px;
        color: blue;
        font-size: 20px;
        text-decoration: none;
    }

    #projectsec1 {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    #projectsecimg {
        position: absolute;
        top: 37em;
        right: 2em;
        filter: drop-shadow(4px 4px 10px black);
    }
    #webpage{
        margin-left: 10px;
    }
    #tastyheaven{
        margin-left: 10px;
    }
}
